body{
    width: 100%;
    max-width: 1080px;
    min-width: 320px;
    height: 100vh;
    max-height: 1920px;
    min-height: 480px;
    overflow: hidden;
    font-family: arial;
}

a{
    color: #fff;
    text-decoration: none;
}

.screen{
    background: #ccc;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
}

.wrapper{
    margin: 0px auto;
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cf:after,.cf:before {
    content: "";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    zoom: 1;
    position: relative
}


/*
============
WELCOME PAGE
============
*/

.welcome_block{
    position: relative;
    display: block;
    width: 100%;
    height: 220px;
    top: 50%;
    margin:0px auto;
    margin-top: -120px;
}

.logo_block{
    position: relative;
    display: block;
    height: 80px;
    width:100%;
    text-align:center;
}

.sign_up{
    position: relative;
    display: block;
    width: 190px;
    height: 50px;
    margin: 20px auto 0px;
}

.login_header{
    position: relative;
    display: block;
    margin: 40px auto 0px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.social{
    float: left;
    background: #a8a8a8;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.social_margin{
    margin-right: 20px;
}


/*
===============================
FIRST LEVEL MENU // CREATE GAME
===============================
*/

header{
    position: relative;
    display: block;
    height: 10%;
    /*background: rgba(255,255,255,.3);*/
    padding: 1%;
    box-sizing:border-box;
}

.score_block{
    position: relative;
    display: block;
    float: left;
    background: rgba(153,153,153,1); /*#a8a8a8*/
    height: 100%;
    width: 95px;
    padding: 0.8%;
    box-sizing:border-box;
    border-radius: 5px;
    text-align: center;
}

.score_header{
    position: relative;
    display: block;
    width: auto;
    font-size: 1.624vh;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.action_header{
    position: relative;
    display: block;
    width: auto;
    font-size: 2.34vh;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.score{
    font-size: 4.568vh;
    font-weight: bold;
    color: #fff;
    margin-top: 0px
}

.sign_out, .quit_game, .quit{
    display: block;
    float: right;
    height: 100%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    position: relative;
    display: block;
    top: 20%;
    text-align: center;
}

button, a.button{
    position: relative;
    display: inline-block;
    margin: 10px auto;
    border:0;
    border-radius: 1vh;
    background: #999;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vh;
    padding: 1vh 2vh;
}

.new_game{
    position: relative;
    display: inline-block;
    background: #81DD72;
    font-size: 5vh;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1vh;
    padding: 2vh 3vh;
    margin-bottom: 2.5vh;
    box-sizing:border-box;
    cursor: pointer;

}

.join_game{
    background: #fdd128;
}


/*
====
GAME
====
*/

.timer{
    background: #81DD72;
}

.opponents_timer{
    background: #eb6464
}

.field{
    position: relative;
    display: block;
    top:10%;
    margin: 0px auto;
    width: 90vw;
    max-width: 68vh;
    height: auto;
    text-align: center;
    border-radius: 5vh;
    overflow: hidden;
    cursor: pointer;
}

.cell{
    position: relative;
    display: block;
    float: left;
    height: 22.5vw;
    max-height: 17vh;
    width: 22.5vw;
    max-width: 17vh;
    outline:1px solid #777;
    background: rgba(255,255,255,.25);
    cursor: pointer;
}

.cell_chosen{
    background: #CCEAC5;
}

.cell_guessed{
    background:#EACAC5;
}

.cell_choosing{
    background: #f6e5a3;
}

/*
===========
LEADERBOARD
===========
*/

.place{
    width: 10%;
}

.logo{
    width: 10%
}

.score_table{
    position: relative;
    display: block;
    margin: 2vh 2vw 0;
    border-radius: 2vh;
    overflow: hidden;
}

table{
    position: relative;
    display: block;
    border-spacing: 0;
    font-size: 2.2vh;
}

th{
    background: rgba(255,255,255,.7);
    padding: 5px;
    text-align: center;
}

td{
    text-align: center;
    padding: 5px;
}

.td1{
    background-color: rgba(255,255,255,.25);
}

.you{
    background-color: #CCEAC5;
    font-weight: bold;
    height: 6.5vh;
}

.number{
    width: 10.5vw;
    border-right: 1px solid rgba(255,255,255,.7);
    box-sizing:border-box;
}

.ava{
    width: 10.5vw;
    border-right: 1px solid rgba(255,255,255,.7);
    box-sizing:border-box;
}

.player{
    overflow: hidden;
    max-width: 20.5vw;
    text-overflow: ellipsis;
    border-right: 1px solid rgba(255,255,255,.7);
    box-sizing:border-box;
}

.players_score{
    width: 24.5vw;
    border-right: 1px solid rgba(255,255,255,.7);
    box-sizing:border-box;
}

.invite{
    width: 14vw;
}

.invite_button{
    font-size: 2.5vh;
    margin: 0 !important;
    background: #81DD72;
    cursor: pointer;
}

.send_invite_button{
    font-size: 2.5vh;
    margin: 0 !important;
    background: #fdd128;
    cursor: pointer;
}

/*
======
INVITE
======
*/

.search_block{
    display: block;
    position: relative;
    margin: 2vh 2vw 0vh;
    height: 5vh;
    width:96vw;
    line-height: 5vh;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 1vh;
    -webkit-transition: margin-right .1s;
    transition: margin-right .1s;
    box-sizing:border-box;
}

.search_input{
    display: block;
    width: 100%;
    padding: 0px 1vh 0px;
    margin: 0;
    font-size: 1.624vh;
    height: 5vh;
    border: 0;
    background: transparent;
    color: #333;
    border-radius: 1vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing:border-box;
}


/*
===================
INVITE NOTIFICATION
===================
*/

.notification_block{
    position: absolute;
    display: table;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: 1.5vw;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: rgba(0,0,0,.6);
	color: #fff;
}

.notification{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 2.2vh;
    padding-right: 10vh;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.nick_notif{
    color: rgb(91,165,225);
    font-weight:bold;
}

/*
============
WAITING GAME
============
*/

.loading_block{
    position: absolute;
    display: block;
    top: 55%;
    left: 50%;
    margin-top: -17.75vh
}

.loading_round{
    position: relative;
    display: block;
    width: 30vw;
    height: 30vw;
    margin: 0px -15vw;
}

.loading_round:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 30vw;
    border: 2vw inset #81DD72;
    border-radius: 50%;
    -webkit-animation: loading-frame 2s linear 0s infinite;
    -o-animation: loading-frame 2s linear 0s infinite;
    animation: loading-frame 2s linear 0s infinite;
    will-change: rotate;
}

@-webkit-keyframes loading-frame{0%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
    100%{-webkit-transform: rotate(360deg);transform: rotate(360deg)}
}
@-o-keyframes loading-frame{0%{-o-transform: rotate(0deg);transform: rotate(0deg)}
    100%{-o-transform: rotate(360deg);transform: rotate(360deg)}
}
@keyframes loading-frame{0%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg)}
    100%{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg)}
}

.waiting_text{
    position: relative;
    display: block;
    width: 70vw;
    margin-left: -35vw;
    margin-bottom: 1.5vh;
    text-align: center;
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
    text-transform: uppercase;
}


/*
==================
ENDING GAME SCREEN
==================
*/

.end_block{
    position: absolute;
    display: block;
    top: 30%;
    margin-top: -12vh;
    width: 100%;
    text-align:center;
}

.end_message{
    position: relative;
    display: block;
    /*left: 50%;*/
    /*margin-left: -35vw;*/
    /*width: 70vw;*/
    color: #fff;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.end_reason{
    position: relative;
    display: block;
    left: 50%;
    margin-left: -35vw;
    width: 70vw;
    color: #fff;
    font-size: 6vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


/*
===============
CHOOSE NICKNAME
===============
*/

.nick_block{
    position: absolute;
    display: block;
    width: 70vw;
    top: 20%;
    margin-top: -11vh;
    left: 50%;
    margin-left: -35vw;
    text-align: center;
}

.nickname_block{
    display: block;
    position: relative;
    margin: 2vh 0;
    height: 5vh;
    width:100%;
    line-height: 5vh;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 1vh;
    -webkit-transition: margin-right .1s;
    transition: margin-right .1s;
    box-sizing:border-box;
}

.nickname_input{
    display: block;
    width: 100%;
    padding: 0px 1vh 0px;
    margin: 0;
    font-size: 1.624vh;
    height: 5vh;
    border: 0;
    background: transparent;
    color: #333;
    border-radius: 1vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing:border-box;
}

.nick_button{
    background: #81DD72 !important;
}

.nick_welcome_text{
    position: relative;
    display: block;
    color: #fff;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: bold;
}



/*
==============
OPPONENTS TURN
==============
*/

.opponent_ingame_block{
    position: absolute;
    display: block;
    background: rgba(255,255,255,.3);
    bottom: 0;
    height: 8vh;
    color: #666;
    width: 100%;
    font-size: 3vh;
}

.opponents_score_ingame_block, .opponents_name_ingame_block{
    position: relative;
    display: table;
    vertical-align: middle;
    float: right;
    width: auto;
    height: 100%;
    box-sizing:border-box;
    padding: 10px;
}

.opponents_score_ingame_block{
    border-left: 1px #fff solid;
}

.opponents_score_ingame, .opponents_name_ingame{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.font_small_opponents{
    font-size: 1.5vh;
}

.go-score{
    font-size: 3.5vh;
}

/*my hacks*/

/*хаки для бустрапа*/


a:hover, a:focus {
    text-decoration: none;
    color: #fff;
}

.start_message{
    background: #ff7023;
    text-align: center;
    /*width: 160px;*/
    width: calc(100% - 95px - 70px);
    margin-left: 5px;
}

.incative_message{
    background: #999
}

/*это нужно тк cell у нас это ссылка, а в оригинальной верстке див*/
.cell:hover, .cell:active, .cell:focus{
    outline: 1px solid #777;
    outline-offset: 0;
}

.game-table {
    width: 100%;
    zoom: 0.5;
    display: flex;
    align-items: center;
    position: relative;
    top: 20%;
    transform: translate(0,20%);
}
.board-name {
    width: 100%;
    zoom: 0.5;
    display: flex;
    align-items: center;
    position: relative;
    top: 25%;
    transform: translate(0,25%);
}

.noscroll {
    overflow: hidden;
}

.field-name {
    letter-spacing: 0.4vh;
    color: white;
    background: #ff7023;
    margin-top: 20px;
}
