/* CSS declarations go here */
.grid-cell {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
    cursor: pointer;
}

.grid-cell-set {
    background-color: green;
}

.grid-cell-fired {
    background-color: yellow;
}

.grid-cell-got {
    background-color: pink;
}


/*login*/
/*div#login-screen {*/
    /*top: 55%; *//* Отступ в процентах от верхнего края окна */
    /*left: 50%; *//* Отступ в процентах от левого края окна */
    /*width: auto; *//* Ширина блока */
    /*height: auto; *//* Высота блока */
    /*position: absolute; *//* Абсолютное позиционирование блока */
    /*margin-top: -225px; *//* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
    /*margin-left: -225px; *//* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
/*}*/


#login-screen .dropdown-menu {
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}


#login-screen #login-dropdown-list {
    display: block;
}


#login-screen a.dropdown-toggle {
    display: none;
}


.avatar {
    width: 24px;
    height: 24px;
}

.avatar-inherit {
    width: 5.4vh;
    height: 5.4vh;
}