<template name="configureGame">
<div class="panel-body">
  <form id="demo" novalidate="novalidate">
    <div class="form-group" data-required="true">
    <label for="game-rows" class="control-label">GAME_ROWS</label>
    <input type="number" name="game_rows" id="game-rows" required="" data-schema-key="favoritePositiveInteger" min="1" class="form-control" value="{{GAME_ROWS}}">
    <span class="help-block"></span>
    <label for="game-cols" class="control-label">GAME_COLS</label>
    <input type="number" name="game_cols" id="game-cols" required="" data-schema-key="favoritePositiveInteger" min="1" class="form-control" value="{{GAME_COLS}}">
    <span class="help-block"></span>
    <label for="tap-times" class="control-label">TAP_TIMES</label>
    <input type="number" name="tap_times" id="tap-times" required="" data-schema-key="favoritePositiveInteger" min="1" class="form-control" value="{{TAP_TIMES}}">
    <span class="help-block"></span>
    <label for="tap-points" class="control-label">TURN_POINTS_TAP</label>
    <input type="number" name="turn_points_tap" id="tap-points" required="" data-schema-key="favoritePositiveInteger" min="1" class="form-control" value="{{TURN_POINTS_TAP}}">
    <span class="help-block"></span>
    <label for="seconds-to-turn" class="control-label">SECONDS_TO_TURN</label>
    <input type="number" name="seconds_to_turn" id="seconds-to-turn" required="" data-schema-key="favoritePositiveInteger" min="1" class="form-control" value="{{SECONDS_TO_TURN}}">
    <span class="help-block"></span>
    <div class="checkbox">
        <label><input type="checkbox" name="extra_turn_for_looser" id="extra_turn_for_looser"  value="{{EXTRA_TURN_FOR_LOOSER}}">EXTRA_TURN_FOR_LOOSER</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="clear_every_turn" id="clear_every_turn"  value="{{CLEAR_EVERY_TURN}}">CLEAR_EVERY_TURN</label>
    </div>
  </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">

          Submit

        </button>
      </div>
  </form>
        </div>

</template>