<template name="grid">
    <div class="screen cf noscroll">

    {{#if gameEnded}}
        {{#if isYouWin}}
            <header>
                <div class="score_block timer">
                    <div class="score_header">{{_ "yourscore"}}</div>
                    <div class="score">+{{delta}}</div>
                </div>
            </header>


            <div class="end_block">
                <div class="end_message">
                    {{_ "grid.youWin"}}
                </div>
                {{#if reason}}
                    <div class="end_reason">
                        ({{reason}})
                    </div>
                {{/if}}
                <button class="create-game" onclick="getSoundForEvent('select');">{{_ "grid.rematch"}}</button><br>
                <a class="button go-menu" href="#" onclick="getSoundForEvent('back');">{{_ "grid.menu"}}</a>
            </div>
        {{else}}
            <header>
                <div class="score_block opponents_timer">
                    <div class="score_header">{{_ "yourscore"}}</div>
                    <div class="score">{{#if delta}}-{{/if}}{{delta}}</div>
                </div>
            </header>


            <div class="end_block">
                {{#if eq reason 'user quit'}}
                    <div class="end_message">
                        {{_ "grid.gameEnded"}}
                    </div>
                    {{#if reason}}
                        <div class="end_reason">
                            ({{reason}})
                        </div>
                    {{/if}}
                {{else}}
                    <div class="end_message">
                        {{_ "grid.youLose"}}
                    </div>
                    {{#if reason}}
                        <div class="end_reason">
                            ({{reason}})
                        </div>
                    {{/if}}
                {{/if}}
                <button class="create-game" onclick="getSoundForEvent('select');">{{_ "grid.rematch"}}</button><br>
                <a class="button go-menu" href="#" onclick="getSoundForEvent('back');">{{_ "grid.menu"}}</a>
            </div>
        {{/if}}
    {{else}}
        <header>
            {{#if gameStarted}}
                <div class="score_block incative_message">
                    <div class="score_header">
                        {{#if isWaitForYour}}
                            {{_ "game.place"}} {{#if eq getRemainingPlayerPoints 1}}{{getRemainingPlayerPoints}} {{_ "game.dot" }}{{else}}{{getRemainingPlayerPoints}}  {{_ "game.dots" }}{{/if}}
                        {{else}}
                            {{#with getOpponent}}
                               {{_ "waitingForOpponent" username=userName}}
                            {{/with}}
                        {{/if}}
                    </div>
                    <div class="score">{{>showTimer}}</div>
                </div>
                <div class="score_block start_message">
                    <div class="action_header">
                        {{#if isWaitForYour}}
                            {{_ "game.place"}} {{#if eq getRemainingPlayerPoints 1}}{{getRemainingPlayerPoints}} {{_ "game.dot" }}{{else}}{{getRemainingPlayerPoints}}  {{_ "game.dots" }}{{/if}}
                        {{else}}
                            {{#with getOpponent}}
                                {{_ "waitingForOpponent" username=userName}}
                            {{/with}}
                        {{/if}}
                    </div>
                </div>
            {{else}}
                <div class="score_block {{#if isYourTurn}}timer {{else}}opponents_timer{{/if}}">
                    <div class="score_header">
                        {{#if isYourTurn}}
                            {{_ "game.yourTurn"}}
                        {{else}}
                            {{#with getOpponent}}
                                {{_ "game.opponetnsTurn"}}
                            {{/with}}
                        {{/if}}
                    </div>
                    <div class="score">{{>showTimer}}</div>
                </div>
                <div class="score_block start_message">
                        <div class="action_header">
                            {{#if isYourTurn}}
                                {{#if getGameMessage}}
                                    {{getGameMessage}}
                                {{else}}
                                    {{_ "game.placeDot"}}
                                {{/if}}
                            {{else}}
                                {{#with getOpponent}}
                                    {{#if getGameMessage}}
                                        {{getGameMessage}}
                                    {{else}}
                                        {{_ "game.waitingForOpponentToShoot"}}
                                    {{/if}}
                                {{/with}}
                            {{/if}}
                        </div>
                </div>
            {{/if}}
            <a href="#" class="quit-game"><img src="/quit.svg" class="quit_game"></a>
        </header>
        <img src="/finger.png" id='thumb-image' width="50" height="60" style="display:none; position: absolute; z-index:1000"/>
        <div class="game-table">
            <div class="field cf">
                {{#each rows}}
                    {{#each this}}
                    <a class="cell {{getGridMyClass ../..}}" data-col='{{col}}' data-row='{{row}}'>
                        &nbsp;
                    </a>
                    {{/each}}
                {{/each}}
            </div>
            <div class="field cf">
                {{#each rows}}
                    {{#each this}}
                    <a class="cell {{getGridOpponentClass ../..}}" data-col='{{col}}' data-row='{{row}}'>
                        &nbsp;
                    </a>
                    {{/each}}
                {{/each}}
            </div>
        </div>
        <div class="board-name">
            <div class="field cf field-name">{{_ "game.opponentsField"}}</div>
            <div class="field cf field-name">{{_ "game.yourField"}}</div>
        </div>
    {{/if}}

        <div class="opponent_ingame_block">
            <div class="opponents_name_ingame_block">
                <div class="opponents_name_ingame">{{_ "grid.you"}}{{youScore}} <span class="font_small_opponents"> vs </span>  {{otherScore}} {{>userName getOpponent}}</div>
            </div>
        </div>

    </div>
</template>

<template name="showTimer">
    {{timerValue}}
</template>

<!--эти не используются -->

<template name="getGameMessage">
    {{#if eq game_mode GAME_MODE_STARTING }}
        {{#if pointsToSelect}}
            Выберите еще {{pointsToSelect}}
        {{else}}
            Ждем оппонента
        {{/if}}
    {{else}}
        {{#if isYourTurn}}
            Ваш ход выберите {{turnPointsLeft}} точку
        {{else}}
            Ходит оппонент
        {{/if}}
    {{/if}}
</template>

<template name="getGameScore">
    Вы {{youScore}} : Ваш оппонент {{otherScore}}
</template>