<template name="invites">
    {{#each newInvites}}
        <div class="notification_block">
            <div class="notification">{{_ "invites.user"}}<span class="nick_notif">{{>userWidget from_user}}</span>{{_ "invites.invitesJoin"}}</div>
            <img src="/quit.svg" class="quit close">
        </div>
    {{/each}}
</template>