<template name="loading">
    <div class="screen cf">
        <div class="loading_block">
            {{#if isConnected}}

            {{else}}
                {{!--todo проверять интервал--}}
                <div class="waiting_text">{{_ "loading.noConnection"}}</div>
            {{/if}}
            <div class="loading_round"></div>
        </div>
    </div>
</template>