<template name="gameLobby">
    <div class="screen cf">
        <header>
            <div class="score_block">
                <div class="score_header">{{_ "yourscore"}}</div>
                <div class="score">{{score}}</div>
            </div>
            <a href="{{pathFor 'game.new_game_menu'}}" class="abort-game" onclick="getSoundForEvent('back');"><img src="/quit.svg" class="quit_game"></a>
        </header>

        <div class="loading_block">
            <div class="waiting_text">{{_ "lobby.waitingForOpponent"}}</div>
            <div class="loading_round"></div>
        </div>

    </div>
</template>