<template name="login">
    <div class="screen cf">

        <div class="welcome_block">
            <div class="logo_block">
                <img src="chabtap_logo.png" height="100px">
            </div>
            <div class="login_header">{{_ "login.enterGame"}}</div>
            <div class="sign_up">
                <a href="#"><img class="social social_margin login-with-fb" src="social/fb.svg" height="50px"></a>
                <a href="#"><img class="social social_margin login-with-vk" src="social/vk.svg" height="50px"></a>
                <a href="#"><img class="social login-with-google" src="social/google.svg" height="50px"></a>
            </div>
        </div>


    </div>
</template>