<template name="menu">
    <div class="screen cf">

        <header>
            <div class="score_block">
                <div class="score_header">{{_ "yourscore"}}</div>
                <div class="score">{{score}}</div>
            </div>
            <a href="#"><img src="sign-out.svg" class="sign_out" onclick="getSoundForEvent('back');"></a>
        </header>

        <div class="menu cf">
            <div class="new_game create-game" onclick="getSoundForEvent('select');">{{_ "menu.newGame"}}</div><br>
            <button class="go-score" onclick="getSoundForEvent('select');">{{_ "menu.leaderboard"}}</button><br>
            <button class="change-name" onclick="getSoundForEvent('select');">{{_ "menu.changeName"}}</button><br>
            <button class="go-tutorial" onclick="getSoundForEvent('select');">{{_ "menu.tutorial"}}</button><br>
        </div>


    </div>

</template>