<template name="newGameMenu">
    <div class="screen cf">

        <header>
            <div class="score_block">
                <div class="score_header">{{_ "yourscore"}}</div>
                <div class="score">{{score}}</div>
            </div>
            <a href="{{pathFor 'game.menu'}}" class="abort-game" onclick="getSoundForEvent('back');"><img src="/quit.svg" class="quit_game"></a>
        </header>

        <div class="menu cf">
            <a href="{{pathFor 'game.lobby'}}" class="new_game" onclick="getSoundForEvent('select');">{{_ "menu.randomPlayer"}}</a><br>
            <a href="{{pathFor 'game.new_game'}}" class="new_game join_game" onclick="getSoundForEvent('select');">{{_ "menu.invite"}}</a><br>
            <button class='play-with-robot' onclick="getSoundForEvent('select');">{{_ "menu.withTapBot"}}</button><br>
            {{!- <button class='configure-game'>Set own game</button><br> }}
        </div>


    </div>
</template>