<template name="notFound">
    <div class="screen cf">
        <div class="loading_block">
            <div class="waiting_text">{{_ "notFound"}}</div>
            <button class="go-score waiting_text" onclick="getSoundForEvent('select');window.location = '/'">To main menu</button>
        </div>
    </div>
</template>