<template name="score">
     <div class="screen cf">
        <header>
            <div class="score_block">
                <div class="score_header">{{_ "yourscore"}}</div>
                <div class="score">{{score}}</div>
            </div>
            <a href="{{pathFor 'game.menu'}}" class="abort-game" onclick="getSoundForEvent('back');"><img src="/quit.svg" class="quit_game"></a>
        </header>


        <div class="score_table">
            <table>
                <tr>
                    <th class="number">#</th>
                    <th class="ava">{{_ "score.avatar"}}</th>
                    <th class="player">{{_ "score.player"}}</th>
                    <th class="players_score">{{_ "score.score"}}</th>
                    <th class="invite">{{_ "score.invite"}}</th>
                </tr>
                {{#each users}}
                    <tr class="{{#if eq _id currentUser._id}}you{{else}}{{#if isOdd @index}}td1{{/if}}{{/if}}">
                        {{#if placeholder}}
                            <td align="center" colspan="5">...</td>
                        {{else}}
                            <td class="number">{{number}}</td>
                            <td class="ava">{{> userAvatarInherit}}</td>
                            <td class="player">{{> userName}}</td>
                            <td class="players_score">{{won_games}}</td>
                            <td class="invite">{{>inviteButton}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>
        </div>
     </div>
</template>