<template name="selectUsername">
    <div class="screen cf">
        <header>
            <a href="{{pathFor 'game.menu'}}" class="abort-game" onclick="getSoundForEvent('back');"><img src="/quit.svg" class="quit_game"></a>
        </header>

        <div class="nick_block">
            {{#autoForm id="UserNameEdit" doc=currentUser type="method" meteormethod="setUserName" schema="usernameSchema"}}
                <div class="nick_welcome_text">{{_ "username.select"}}</div>
                <div class="nickname_block">
                    {{> afQuickField name="username"}}
                </div>
                <br>
                <br>
                <button type="submit" class="nick_button">{{_ "next"}}</button>
             {{/autoForm}}
        </div>
    </div>
</template>
