<template name="tutorial">
     <div class="screen cf">
        <header>
            <div class="score_block">
                <div class="score_header">{{_ "yourscore"}}</div>
                <div class="score">{{score}}</div>
            </div>
            <a href="{{pathFor 'game.menu'}}" class="abort-game" onclick="getSoundForEvent('back');"><img src="/quit.svg" class="quit_game"></a>
        </header>


        <div class="fotorama" data-height="80%" data-fit="contain" data-arrows="true" data-click="true">
                <img src="/tutorial/1 3 dots.png">
                <img src="/tutorial/Chabtap tutorial 1.png">
                <img src="/tutorial/2 you turn hit miss.png">
                <img src="/tutorial/Chabtap tutorial 2.png">
                <img src="/tutorial/3 op hit.png">
                <img src="/tutorial/Chabtap tutorial 3.png">
                <img src="/tutorial/4 you win.png">
                <img src="/tutorial/Chabtap tutorial 4.png">
        </div>
     </div>
</template>