<template name="userList">
    <div class="screen cf">
        <header>
            <div class="score_block">
                <div class="score_header">{{_ "yourscore"}}</div>
                <div class="score">{{score}}</div>
            </div>
            <a href="{{pathFor 'game.new_game_menu'}}" class="abort-game" onclick="getSoundForEvent('back');"><img src="/quit.svg" class="quit_game"></a>
        </header>

        {{> greaterThanFilter}}
        <br>
        <div class="score_table">
            <table>
                <tr>
                    <th class="number">#</th>
                    <th class="ava">{{_ "score.avatar"}}</th>
                    <th class="player">{{_ "score.player"}}</th>
                    <th class="players_score">{{_ "score.score"}}</th>
                    <th class="invite">{{_ "score.invite"}}</th>
                </tr>
                {{#if Template.subscriptionsReady}}
                    {{#each users}}
                        <tr class="{{#if eq _id currentUser._id}}you{{else}}{{#if isOdd @index}}td1{{/if}}{{/if}}">
                            {{#if placeholder}}
                                <td align="center" colspan="5">...</td>
                            {{else}}
                                <td class="number">{{number}}</td>
                                <td class="ava">{{> userAvatarInherit}}</td>
                                <td class="player">{{> userName}}</td>
                                <td class="players_score">{{won_games}}</td>
                                <td class="invite">{{>inviteButton}}</td>
                            {{/if}}
                        </tr>
                    {{/each}}
                {{/if}}
            </table>
        </div>
    </div>
</template>


<template name="userActions">
    <a href="#" title='играть' class='create-game'>Play!</a>
    <a href="#" title='играть' class='create-game-conf'>Play_c!</a>
</template>


<template name="greaterThanFilter">
    <div class="search_block">
        <input type="text" class="search_input" placeholder="Input player's name" id='greater-than-filter' value="{{getValue}}">
    </div>
</template>