<template name="userWidget">
    {{> userName user}}
</template>

<template name="userAvatar">
    <img src="{{avatar this}}" class="avatar img-rounded">
</template>

<template name="userAvatarInherit">
    <img src="{{avatar this}}" class="avatar-inherit img-rounded">
</template>

<template name="userName">
    {{#if username}}
        {{username}}
    {{else}}
        {{profile.name}}
    {{/if}}{{#if eq currentUser._id _id}}{{_ "username.you"}}{{/if}}
</template>

<template name="inviteButton">
    {{#if eq currentUser._id _id}}
    {{else}}
        {{#if status.online}}
            <button class="invite_button">{{_ "username.play"}}</button>
        {{else}}
            {{#if isRobot}}
                <button class="invite_button">{{_ "username.play"}}</button>
            {{else}}
                <button class="send_invite_button">{{_ "username.invite"}}</button>
            {{/if}}
        {{/if}}
    {{/if}}
</template>

